/* header style */
.header{
    max-width: 1140px;
    margin: 0 auto;
    gap: auto;
    margin-bottom: 120px;
}
.nav-item{
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    
}
.list-item{
    list-style: none;
   margin: 10px;
}
.links{
    text-decoration: none;
}

/*banner section*/ 
.banner{
    max-width: 1140px;
    height: 461px;
    display: flex;
    margin: 0 auto;
}
.img-banner{
    max-width: 570px;
    height: 355px;
}

.desc{
    max-width: 570px;
    height: 299px;
}
.head-color{
    color: #E95A08;
}
.heading{
    font-weight: bold;
    font size: 65px;
}
.para{
    font-size: 22px;
}

/* plant section */
.plant-sec{
    max-width: 1140px;
    height: 118px;
    margin: 0 auto;
}
.flower-samp{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.plants-head{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    gap: 16px;
}
.text-align{
    text-align: center;
}
.clr{
    color: #E95A08;
}
.frangnace{
    text-align: center;
    color:lightslategray;
    font-size: 22px;
}
.lily{
    text-align: center;
    color: #111111;
    font-weight: medium;
}
.price{
    text-align: center;
    color: #111111;
    font-weight: bold;
}
.advertisment{
    max-width: 270px;
    height: 484.94px;
    
}

.adding{
    width: 270px;
    height: 50px;
    background-color:#E95A08 ;
    padding: 20px 50px;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 16px;
    border-style: none;
}

/* lover section */
.lover{
    max-width: 1140px;
    height: 597px;
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}

.lover-img{
    max-width: 540px;
    height: 597px;
}

.side-desc{
    max-width: 540px;
    height: 521px;
}
.heading-box-size{
    max-width: 540px;
    height: 137px;
    margin-top: 38px;
    font-weight: bold;
    font-size:50px;
    color: #000000;
    margin-bottom: 20px;

}
.list-box-size{
    max-width: 540px;
    height: 108px;
    font-size: 22px;
    color: #000000;
    margin-bottom: 20px;

}

.lover-desc-color{
    color: lightslategray;
}

/*Dealing Section*/ 
.Deals{
    max-width: 1440px;
    height: 138px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.dealing-head{
    max-width:1440px;
    height: 68px;
    font-weight: bold;
    font-size: 50px;
    color:#000000;
    margin-bottom: 0.8rem;


}
.lateset-color{
    color: #E95A08;
}

.deals-para{
    color:lightslategray;
    font-size: 22px;

}

/*image section */

.images-sec{
    max-width: 1140px;
    height: 423px; 
    display: flex;
    grid-template-columns: repeat(2 1fr);
    gap: 25px;
    margin-bottom: 4em;
   
    
}
.bloom{
    background-image:url(../assets/deal-bloom.png);
    width: 367px;
    height: 201px;
    border-radius:14px;
    text-align: center;
    align-items: center;
    position: relative; 
    overflow: hidden;
    margin-bottom: 25px;
    
}
.bloom-style{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.bloom-btn{
    border-style: none;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 20px;
    background: transparent;
  color: white;
   transition: color 0.3s;

}
.shop-now{
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.ana{
    background-image: url(../assets/deal-ana.png);
    width: 367px;
    height: 201px;
    border-radius:14px;
    text-align: center;
    align-items: center;
    position: relative; 
    overflow: hidden;

}
.ana-style{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.ana-btn{
     border-style: none;
    text-decoration: none;
    transition: 0.3s;
    padding: 10px 20px;
    background: transparent;
  color: white;
   transition: color 0.3s;
}

.zabo{
    background-image: url(../assets/deal-zabo.png);
     width: 753px;
    height: 423px;
    border-radius:14px;
    text-align: center;
    align-items: center;
    position: relative; 
    overflow: hidden;

}
.zabo-style{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
.zabo-btn{
    border-style: none;
    text-decoration: none;
    transition: 0.3s;
    padding: 0 auto; 
    background: transparent;
    color: white;
    transition: color 0.3s;
}

/* Join Section */
.join{
    max-width:1440px;
    height: 533px;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-position:center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
    
   
    
}

.join-heading{
    max-width: 586px;
    height: 68px;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 23px;
    text-align: center;
    position: relative;
  z-index: 1;
  justify-content: center;
  margin-left: 5.5rem;

    
}


.form{
    display: flex;
    
   
  
}
.fill-up{
    width: 644px;
    height: 50px;
}
.sub-btn{
    width: 186px;
    height: 55px;
    background-color: #E95A08;
    border-style: none;
    color: #FFFFFF;
    font-size: 16;
    font-weight: 600px;
    outline: none;
    
}

/* footer section */

.footer{
    max-width: 1120px;
    height: 248px;
    display: flex;
    justify-content: space-around;
}  
.logo-with-p{
    max-width: 359px;
    height: 179px;
}

.img-shp{
    max-width: 135px;
    height: 82px;
}
.foot-p{
    color: lightslategray;
    font-size: 22px;
}
.search-opt{
    list-style: none;
    color: gray;
}

.search-opt-again{
    list-style: none;
    margin-bottom: 2rem;
    color: gray;
}

.icons{
    gap: 24px;
}

.search-itm{
    margin-bottom: 32px;
}
.icon-gap{
    margin-right: 24px;
}


 /* responsiveness */ 
 
 @media screen and (max-width: 576px) {
    /* header section */

    .response{
        display: none;
    }
    .response-logo{
        width: 80px;
        height: 50px;
    }

    .header{
        gap: auto;
        margin-bottom: 20px;
    }
/* banner section */ 
    .banner{
        flex-direction: column-reverse;
        margin-top: 5em;
        margin-bottom: 5rem;
    }
    .img-banner{
         display: contents; 
         padding: 0 0; 
    }
    /* plant section */
    .flower-samp{
        grid-template-columns: repeat(2, 1fr);
        justify-content:center;
        align-items: center;
        gap: 5px;
    }

    /* lover section */ 
    .lover{
        flex-direction: column;
        margin-bottom: 40rem;
    }

    /* Deals section */ 
    .images-sec{
       display: block;
       margin-bottom: 20rem;
    }
    .ana-bloom{
        justify-content: center;
        margin-left: 1rem;
        width: 350px;
        height: ;
    }
    .zabo{
        justify-content: center;
        width: 400px;
        height: 250px;
        margin-top: 2rem;
    }
    /* Join Section */
    .join{
        justify-content: center;
        height: 276px;
        width: 393px;
        
    }
    .join-heading{
        display: contents;
        font-size: 20px

    }

    .form{
        width: 321px;
        height: 50px;
    }
    
    




    

    

 


